.NewPost {
    width: 730px;
    height: 120px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    justify-content: center;
    gap: 15px;
}

.NewPostImage {
    width: 40px;
    height: 40px;
}

input {
    width: 506px;
    height: 96px;
    border: 1px solid #E9EBF0;
    border-radius: 5px;

}

.btnsend {
    width: 104px;
    height: 48px;
    background-color: #5357B6;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    border: none;


}

@media only screen and (max-width: 600px) {

    .NewPost {
        width: 350px;
        height: 100px;
        align-items: center;

    }

    input {
        width: 280px;
        height: 96px;
    }

    .NewPostImage {
        width: 30px;
        height: 30px;
    }
}